#layout {

  /* The image used */
  background-image: url("../../../assets/images/medium/medium.jpg");
  /* Full height */
  height: 50vw;
  width: 100vw;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
}


@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
       /* background-image: url("../../assets/images/medium.jpg"); */
  }
}