#layout {
  background-image: url("../../assets/images/overlay.png"),
    url("../../assets/images/bg.jpg");
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto,auto;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 30%;
}
