
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

#main .iam {
    height: 200px;
    width: 400px;
    position: relative;
    margin-left: 150%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 30%;
    transform: translate(150%,-50%);
    font-family: 'Farsan', cursive;
    font-size: 25px;
    vertical-align: baseline;
    text-align: center;
    font-size: 30px;
    text-align: left;
    margin-right: 40px;
    outline-color: rgb(233, 58, 195);
    outline-style: outset;
}

#main .iam button{

   outline-color: rgb(240, 236, 0);
   outline-style: outset;
   vertical-align: baseline;
   margin-top:auto;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto;
   padding-right: auto;
   padding-left: auto;
   padding-bottom: auto;
   padding-top: auto;

}