
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

#main .iam {
    height: 200px;
    width: 400px;
    position: relative;
    margin-left: 150%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 30%;
    transform: translate(150%,-50%);
    font-family: 'Farsan', cursive;
    font-size: 25px;
    vertical-align: baseline;
    text-align: center;
    font-size: 30px;
    text-align: left;
    margin-right: 40px;
}

#main .iam button{

   padding-left: 40px;
   margin-left: 20px;

}