@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  border: 3px solid rgb(251, 255, 0);
}

.flip-card-container {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  display: flex;
  border: 3px solid green;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  font-family: cursive;
}
.flip-card-container:hover .flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front {
  background-color: #333;
  color: #fff;
}
.flip-card-back {
  background-color: #ff4136;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  margin: auto;
  /* border-radius: 0.5rem; */
}
.flip-card-back p {
  text-align: left;
  padding: 5px;
  align-content: center;
  font-size: 1.5 rem;
  margin: auto;
  border: 3px solid rgb(49, 9, 158);
}

flip-card-back avatar {
  border: 3px solid rgb(153, 11, 153);
  margin-top: -10%;
}
