/* Header */

#header {
  background-color: _palette(accent2, bg);
  background-attachment: scroll, fixed;
  background-image: url('../../assets/images/overlay.png'),
    url('../../assets/images/bg.jpg');
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto;
  color: _palette(accent2, fg);
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100;
}


.inner {
  margin: 0 0 (100 * 0.5) 0;
}

strong,
b {
  color: _palette(accent2, fg-bold);
}

h2,
h3,
h4,
h5,
h6 {
  color: _palette(accent2, fg-bold);
}

h1 {
  color: _palette(accent2, fg);
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

.image.avatar {
  margin: 0 0 (_size(element-margin) * 0.5) 0;
  width: 6.25em;
}
