#header {
  height: 100%;
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 10%;
  padding: 0;
  position: fixed;
  text-align: right;
  width: 20%;
}


img {
  margin: auto;
  width: auto;
  border-radius: 50%;
  opacity: 0.5
}
