#footer{

    outline-color: rgb(60, 255, 0);
    outline-style: outset;
    text-align: left;
    margin-top: auto;
    padding-right: 5px;
    vertical-align: baseline;
    
}

.personal {

    outline-color: coral;
    outline-style: outset;
    text-align: center;
    margin-top: auto;
    padding-right: auto;
    font-size: 24px;
    vertical-align: baseline;

}